hmtl {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

.card {
  background: #fff;
  overflow: hidden;
  border-radius: 30px;
  box-shadow: 0 0 20px 30px #f9f9f9;
  font-size: 1rem;
  font-weight: 500;
  margin: 2rem;
  max-width: 500px;
  transform: rotate(-10deg);
  transition: transform 0.2s;
}

footer {
  background: rgb(92, 191, 187);
  background: linear-gradient(
    90deg,
    rgba(92, 191, 187, 1) 0%,
    rgba(116, 214, 144, 1) 100%
  );
  color: #fff;
  display: flex;
  align-items: center;
}

.content,
.person {
  padding: 0.5rem 0.7rem;
}

.thumb {
  border: 3px solid #fff;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  margin: 0 1.5rem;
  transition: transform 0.3s;
}

.card:hover {
  transform: rotate(0);
}

.card:hover .thumb {
  transform: scale(1.15);
}

.content p {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .content {
    padding: 2rem;
  }

  .card footer {
    padding: 2rem 4rem;
  }
}
