<section class="block block--dark block--skewed-right block-showcase">
    <header class="block__header">
        <h2>User-Friendly Control Panel</h2>
    </header>
    <div class="container grid grid--1x2 showcase">
        <picture class="block-showcase__picture">
            <source
            type="image/webp"
            srcset="/Images/resized/ipad@2x.webp 2x, /Images/resized/ipad.webp 1x"
            />
            <source
            type="image/png"
            srcset="/Images/resized/ipad@2x.png 2x, /Images/resized/ipad.png 1x"
            />
            <img src="/Images/resized/ipad.png" alt="">
        </picture>
        <ul class="list">
            <li>
                <div class="media">
                    <div class="media__image">
                            <svg class="icon icon--primary">
                                <use xlink:href="/Images/sprite.svg#snap"></use>
                            </svg>
                    </div>
                    <div class="media__body">
                        <h3 class="media__title">Easy Start & Managed Updates</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi fuga consequatur at nemo blanditiis magni alias et beatae soluta fugit!</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="media">
                    <div class="media__image">
                            <svg class="icon icon--primary">
                                <use xlink:href="/Images/sprite.svg#growth"></use>
                            </svg>
                    </div>
                    <div class="media__body">
                        <h3 class="media__title">Easy Start & Managed Updates</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi fuga consequatur at nemo blanditiis magni alias et beatae soluta fugit!</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="media">
                    <div class="media__image">
                            <svg class="icon icon--primary">
                                <use xlink:href="/Images/sprite.svg#wordpress"></use>
                            </svg>
                    </div>
                    <div class="media__body">
                        <h3 class="media__title">Easy Start & Managed Updates</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi fuga consequatur at nemo blanditiis magni alias et beatae soluta fugit!</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>